<mat-spinner *ngIf="loading"></mat-spinner>
<p class="text-center" *ngIf="cours.length <= 0 && !loading">Aucun cours !</p>
<div class="cours-grid" *ngIf="cours.length >= 0">
  <div class="cours-pane"
       *ngFor="let unCours of cours"
       [ngClass]="{'open': unCours._id === chosenId}"
       [ngStyle]="{'background-image': 'url(' + unCours.imageUrl + ')'}"
       (click)="onProductClicked(unCours._id)">
    <div class="cours-info">
      <h3>
        {{ unCours.title }}
      </h3>
      <h5>{{ unCours.teacher }}</h5>
    </div>
  </div>
</div>
