<mat-spinner *ngIf="loading"></mat-spinner>
<div *ngIf="!loading">
  <button class="btn btn-link" (click)="onGoBack()"><< Retour</button>
  <div class="single-cours-pane">
    <img [src]="cours?.imageUrl" alt="">
    <div class="single-cours-info">
      <h1>{{ cours?.title }}</h1>
      <h2 class="single-cours-cours">{{ cours?.teacher }}</h2>
      <p>{{ cours?.content }}</p>
      <button class="btn btn-success m-1" (click)="onModify()" [disabled]="userId !== cours?.userId">Modifier</button>
      <button class="btn btn-danger m-1" (click)="onDelete()" [disabled]="userId !== cours?.userId">Supprimer</button>
    </div>
  </div>
</div>
