.single-cours-pane {
  position: relative;
  width: 60%;
  margin: auto;
}

img {
  position: relative;
  width: 100%;
}

.single-cours-info {
  width: 100%;
}

.single-cours-teacher {
  color: #6eb5ff;
}
