<header>
  
  <h1 class="header-title">
    Ulysseus
  </h1>
  <ul class="header-navigation">
    <li class="header-navigation-item" *ngIf="isAuth">
      <a class="header-link" routerLink="/all-cours" routerLinkActive="active">Mes cours</a>
    </li>
    <li class="header-navigation-item" *ngIf="isAuth">
      <a class="header-link" routerLink="/new-cours" routerLinkActive="active">Nouveau cours</a>
    </li>
    <li class="header-navigation-item" *ngIf="isAuth">
      <a class="header-link" style="cursor: pointer" (click)="onLogout()">Déconnexion</a>
    </li>
    <li class="header-navigation-item" *ngIf="!isAuth">
      <a class="header-link" routerLink="/auth/login" routerLinkActive="active">Connexion</a>
    </li>
    <li class="header-navigation-item" *ngIf="!isAuth">
      <a class="header-link" routerLink="/auth/signup" routerLinkActive="active">Inscription</a>
    </li>
  </ul>
  <ul class="header-navigation nav-end">
    <li class="header-navigation-item font-italic">
      <a class="header-link" style="cursor:pointer" (click)="onBackToParts()">Retour à l'index</a>
    </li>
  </ul>

</header>
<div class="hero-image" *ngIf="mode === 'list'">
  <h2 class="hero-text">
    Mes cours Ulysseus
  </h2>
</div>
