header {
  display: flex;
  align-items: center;
  background-color: #333333;
  color: white;
  padding: 0.2rem 2%;
}

ul {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0 0 0 5%;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 14px;
}

a {
  color: white;
  font-weight: 600;
  &:hover {
    text-decoration: none;
  }
}

.active {
  background-color: #6eb5ff;
  color: white;
  padding: 0.3rem 0.5rem;
}

.hero-image {
  position: relative;
  width: 100%;
  height: 320px;
  background-size: cover;
  background: url('../../assets/promenade2.jpg') no-repeat 0 80%;
  background-size: cover;
}

.hero-text {
  color: #a1c9ff;
  font-weight: 800;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  text-align: center;
  filter: drop-shadow(2px 2px 3px black);
  font-size: 3rem;
}

.nav-end {
  flex-direction: row-reverse;
  flex-grow: 1;
}
