<mat-spinner *ngIf="loading"></mat-spinner>
<div *ngIf="!loading" class="col-sm-6 offset-sm-3 mt-2">
  <form [formGroup]="coursForm">
    <div class="form-group">
      <label for="title">Titre</label>
      <input type="text" placeholder="Quel cours ?" id="title" formControlName="title" class="form-control">
    </div>
    <div class="form-group">
      <label for="teacher">Quel professeur ?</label>
      <input type="text" placeholder="Quel professeur ?" id="teacher" formControlName="teacher" class="form-control">
    </div>
    <div class="form-group">
      <label for="content">Contentu </label>
      <textarea name="content"
                id="content"
                cols="30" rows="7"
                class="form-control"
                formControlName="content"
                placeholder="Décrivez votre cours !"></textarea>
    </div>
    <div class="form-group">
      <label for="imageUrl">URL de l'image</label>
      <input type="text" placeholder="http://..." id="imageUrl" formControlName="imageUrl" class="form-control">
    </div>
    <button class="btn btn-success" (click)="onSubmit()" [disabled]="coursForm.invalid">Valider</button>
    <p class="alert-danger" *ngIf="errorMessage">{{ errorMessage }}</p>
  </form>
</div>
